
.task{
    width: 300px;
    padding: 10px;
    border: solid 1px gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
    margin: 4px;
}

.task-done{
    text-decoration: line-through;
}